[submodule "mcp-opennutrition"]
	path = mcp-opennutrition
	url = https://github.com/deadletterq/mcp-opennutrition.git
[submodule "lightrag"]
	path = lightrag
	url = https://github.com/HKUDS/LightRAG.git
